@import url('../px-defaults-design/defaults.css');

 /**
  * Margin helper classes.
  *
  * Add margins.
  */

 .u-m       { margin:           var(--inuit-base-spacing-unit) !important; }
 .u-mt      { margin-top:       var(--inuit-base-spacing-unit) !important; }
 .u-mr      { margin-right:     var(--inuit-base-spacing-unit) !important; }
 .u-mb      { margin-bottom:    var(--inuit-base-spacing-unit) !important; }
 .u-ml      { margin-left:      var(--inuit-base-spacing-unit) !important; }
 .u-mh      { margin-right:     var(--inuit-base-spacing-unit) !important; margin-left:      var(--inuit-base-spacing-unit) !important; }
 .u-mv      { margin-top:       var(--inuit-base-spacing-unit) !important; margin-bottom:    var(--inuit-base-spacing-unit) !important; }

 /**
  * Add tiny margins.
  */

 .u-m--     { margin:           var(--inuit-base-spacing-unit--tiny) !important; }
 .u-mt--    { margin-top:       var(--inuit-base-spacing-unit--tiny) !important; }
 .u-mr--    { margin-right:     var(--inuit-base-spacing-unit--tiny) !important; }
 .u-mb--    { margin-bottom:    var(--inuit-base-spacing-unit--tiny) !important; }
 .u-ml--    { margin-left:      var(--inuit-base-spacing-unit--tiny) !important; }
 .u-mh--    { margin-right:     var(--inuit-base-spacing-unit--tiny) !important; margin-left:     var(--inuit-base-spacing-unit--tiny) !important; }
 .u-mv--    { margin-top:       var(--inuit-base-spacing-unit--tiny) !important; margin-bottom:   var(--inuit-base-spacing-unit--tiny) !important; }

 /**
  * Add small margins.
  */

 .u-m-      { margin:           var(--inuit-base-spacing-unit--small) !important; }
 .u-mt-     { margin-top:       var(--inuit-base-spacing-unit--small) !important; }
 .u-mr-     { margin-right:     var(--inuit-base-spacing-unit--small) !important; }
 .u-mb-     { margin-bottom:    var(--inuit-base-spacing-unit--small) !important; }
 .u-ml-     { margin-left:      var(--inuit-base-spacing-unit--small) !important; }
 .u-mh-     { margin-right:     var(--inuit-base-spacing-unit--small) !important; margin-left:   var(--inuit-base-spacing-unit--small) !important; }
 .u-mv-     { margin-top:       var(--inuit-base-spacing-unit--small) !important; margin-bottom: var(--inuit-base-spacing-unit--small) !important; }

 /**
  * Add large margins.
  */

 .u-m\00002b     { margin:           var(--inuit-base-spacing-unit--large) !important; }
 .u-mt\00002b    { margin-top:       var(--inuit-base-spacing-unit--large) !important; }
 .u-mr\00002b    { margin-right:     var(--inuit-base-spacing-unit--large) !important; }
 .u-mb\00002b    { margin-bottom:    var(--inuit-base-spacing-unit--large) !important; }
 .u-ml\00002b    { margin-left:      var(--inuit-base-spacing-unit--large) !important; }
 .u-mh\00002b    { margin-right:     var(--inuit-base-spacing-unit--large) !important; margin-left:      var(--inuit-base-spacing-unit--large) !important; }
 .u-mv\00002b    { margin-top:       var(--inuit-base-spacing-unit--large) !important; margin-bottom:    var(--inuit-base-spacing-unit--large) !important; }

 /**
  * Add huge margins.
  */

 .u-m\00002b\00002b   { margin:           var(--inuit-base-spacing-unit--huge) !important; }
 .u-mt\00002b\00002b  { margin-top:       var(--inuit-base-spacing-unit--huge) !important; }
 .u-mr\00002b\00002b  { margin-right:     var(--inuit-base-spacing-unit--huge) !important; }
 .u-mb\00002b\00002b  { margin-bottom:    var(--inuit-base-spacing-unit--huge) !important; }
 .u-ml\00002b\00002b  { margin-left:      var(--inuit-base-spacing-unit--huge) !important; }
 .u-mh\00002b\00002b  { margin-right:     var(--inuit-base-spacing-unit--huge) !important; margin-left:   var(--inuit-base-spacing-unit--huge) !important; }
 .u-mv\00002b\00002b  { margin-top:       var(--inuit-base-spacing-unit--huge) !important; margin-bottom: var(--inuit-base-spacing-unit--huge) !important; }

 /**
  * Remove margins.
  */

 .u-m0      { margin:           0 !important; }
 .u-mt0     { margin-top:       0 !important; }
 .u-mr0     { margin-right:     0 !important; }
 .u-mb0     { margin-bottom:    0 !important; }
 .u-ml0     { margin-left:      0 !important; }
 .u-mh0     { margin-right:     0 !important; margin-left:      0 !important; }
 .u-mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }


 /**
  * Negative margins.
  */

 .u--m      { margin:           -var(--inuit-base-spacing-unit) !important; }
 .u--mt     { margin-top:       -var(--inuit-base-spacing-unit) !important; }
 .u--mr     { margin-right:     -var(--inuit-base-spacing-unit) !important; }
 .u--mb     { margin-bottom:    -var(--inuit-base-spacing-unit) !important; }
 .u--ml     { margin-left:      -var(--inuit-base-spacing-unit) !important; }
 .u--mh     { margin-right:     -var(--inuit-base-spacing-unit) !important; margin-left:      -var(--inuit-base-spacing-unit) !important; }
 .u--mv     { margin-top:       -var(--inuit-base-spacing-unit) !important; margin-bottom:    -var(--inuit-base-spacing-unit) !important; }

 /**
  * Tiny negative margins.
  */

 .u--m--    { margin:           -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--mt--   { margin-top:       -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--mr--   { margin-right:     -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--mb--   { margin-bottom:    -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--ml--   { margin-left:      -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--mh--   { margin-right:     -var(--inuit-base-spacing-unit--tiny) !important; margin-left:     -var(--inuit-base-spacing-unit--tiny) !important; }
 .u--mv--   { margin-top:       -var(--inuit-base-spacing-unit--tiny) !important; margin-bottom:   -var(--inuit-base-spacing-unit--tiny) !important; }

 /**
  * Small negative margins.
  */

 .u--m-     { margin:           -var(--inuit-base-spacing-unit--small) !important; }
 .u--mt-    { margin-top:       -var(--inuit-base-spacing-unit--small) !important; }
 .u--mr-    { margin-right:     -var(--inuit-base-spacing-unit--small) !important; }
 .u--mb-    { margin-bottom:    -var(--inuit-base-spacing-unit--small) !important; }
 .u--ml-    { margin-left:      -var(--inuit-base-spacing-unit--small) !important; }
 .u--mh-    { margin-right:     -var(--inuit-base-spacing-unit--small) !important; margin-left:   -var(--inuit-base-spacing-unit--small) !important; }
 .u--mv-    { margin-top:       -var(--inuit-base-spacing-unit--small) !important; margin-bottom: -var(--inuit-base-spacing-unit--small) !important; }

 /**
  * Large negative margins.
  */

 .u--m\00002b    { margin:           -var(--inuit-base-spacing-unit--large) !important; }
 .u--mt\00002b   { margin-top:       -var(--inuit-base-spacing-unit--large) !important; }
 .u--mr\00002b   { margin-right:     -var(--inuit-base-spacing-unit--large) !important; }
 .u--mb\00002b   { margin-bottom:    -var(--inuit-base-spacing-unit--large) !important; }
 .u--ml\00002b   { margin-left:      -var(--inuit-base-spacing-unit--large) !important; }
 .u--mh\00002b   { margin-right:     -var(--inuit-base-spacing-unit--large) !important; margin-left:      -var(--inuit-base-spacing-unit--large) !important; }
 .u--mv\00002b   { margin-top:       -var(--inuit-base-spacing-unit--large) !important; margin-bottom:    -var(--inuit-base-spacing-unit--large) !important; }

 /**
  * Huge negative margins.
  */

 .u--m\00002b\00002b  { margin:           -var(--inuit-base-spacing-unit--huge) !important; }
 .u--mt\00002b\00002b { margin-top:       -var(--inuit-base-spacing-unit--huge) !important; }
 .u--mr\00002b\00002b { margin-right:     -var(--inuit-base-spacing-unit--huge) !important; }
 .u--mb\00002b\00002b { margin-bottom:    -var(--inuit-base-spacing-unit--huge) !important; }
 .u--ml\00002b\00002b { margin-left:      -var(--inuit-base-spacing-unit--huge) !important; }
 .u--mh\00002b\00002b { margin-right:     -var(--inuit-base-spacing-unit--huge) !important; margin-left:   -var(--inuit-base-spacing-unit--huge) !important; }
 .u--mv\00002b\00002b { margin-top:       -var(--inuit-base-spacing-unit--huge) !important; margin-bottom: -var(--inuit-base-spacing-unit--huge) !important; }

 [dir=rtl] {
   .u-mr        { margin-right: 0 !important;
                                           margin-left: var(--inuit-base-spacing-unit) !important; }
   .u-ml        { margin-right: var(--inuit-base-spacing-unit) !important;
                                           margin-left: 0 !important; }
   .u-mr-       { margin-right: 0 !important;
                                           margin-left: var(--inuit-base-spacing-unit--small) !important; }
   .u-ml-       { margin-right: var(--inuit-base-spacing-unit--small) !important;
                                           margin-left: 0 !important; }
   .u-mr--      { margin-right: 0 !important;
                                           margin-left: var(--inuit-base-spacing-unit--tiny) !important; }
   .u-ml--      { margin-right: var(--inuit-base-spacing-unit--tiny) !important;
                                           margin-left: 0 !important; }
   .u-mr\00002b      { margin-right: 0 !important;
                                           margin-left: var(--inuit-base-spacing-unit--large) !important; }
   .u-ml\00002b      { margin-right: var(--inuit-base-spacing-unit--large) !important;
                                           margin-left: 0 !important; }
   .u-mr\00002b\00002b    { margin-right: 0 !important;
                                           margin-left: var(--inuit-base-spacing-unit--huge) !important; }
   .u-ml\00002b\00002b    { margin-right: var(--inuit-base-spacing-unit--huge) !important;
                                           margin-left: 0 !important; }
 }

 /**
  * Padding helper classes.
  *
  * Add paddings.
  */

 .u-p       { padding:          var(--inuit-base-spacing-unit) !important; }
 .u-pt      { padding-top:      var(--inuit-base-spacing-unit) !important; }
 .u-pr      { padding-right:    var(--inuit-base-spacing-unit) !important; }
 .u-pb      { padding-bottom:   var(--inuit-base-spacing-unit) !important; }
 .u-pl      { padding-left:     var(--inuit-base-spacing-unit) !important; }
 .u-ph      { padding-right:    var(--inuit-base-spacing-unit) !important; padding-left:    var(--inuit-base-spacing-unit) !important; }
 .u-pv      { padding-top:      var(--inuit-base-spacing-unit) !important; padding-bottom:  var(--inuit-base-spacing-unit) !important; }

 /**
  * Add tiny paddings.
  */

 .u-p--     { padding:           var(--inuit-base-spacing-unit--tiny) !important; }
 .u-pt--    { padding-top:       var(--inuit-base-spacing-unit--tiny) !important; }
 .u-pr--    { padding-right:     var(--inuit-base-spacing-unit--tiny) !important; }
 .u-pb--    { padding-bottom:    var(--inuit-base-spacing-unit--tiny) !important; }
 .u-pl--    { padding-left:      var(--inuit-base-spacing-unit--tiny) !important; }
 .u-ph--    { padding-right:     var(--inuit-base-spacing-unit--tiny) !important; padding-left:      var(--inuit-base-spacing-unit--tiny) !important; }
 .u-pv--    { padding-top:       var(--inuit-base-spacing-unit--tiny) !important; padding-bottom:    var(--inuit-base-spacing-unit--tiny) !important; }

 /**
  * Add small paddings.
  */

 .u-p-      { padding:           var(--inuit-base-spacing-unit--small) !important; }
 .u-pt-     { padding-top:       var(--inuit-base-spacing-unit--small) !important; }
 .u-pr-     { padding-right:     var(--inuit-base-spacing-unit--small) !important; }
 .u-pb-     { padding-bottom:    var(--inuit-base-spacing-unit--small) !important; }
 .u-pl-     { padding-left:      var(--inuit-base-spacing-unit--small) !important; }
 .u-ph-     { padding-right:     var(--inuit-base-spacing-unit--small) !important; padding-left:    var(--inuit-base-spacing-unit--small) !important; }
 .u-pv-     { padding-top:       var(--inuit-base-spacing-unit--small) !important; padding-bottom:  var(--inuit-base-spacing-unit--small) !important; }

 /**
  * Add large paddings.
  */

 .u-p\00002b     { padding:           var(--inuit-base-spacing-unit--large) !important; }
 .u-pt\00002b    { padding-top:       var(--inuit-base-spacing-unit--large) !important; }
 .u-pr\00002b    { padding-right:     var(--inuit-base-spacing-unit--large) !important; }
 .u-pb\00002b    { padding-bottom:    var(--inuit-base-spacing-unit--large) !important; }
 .u-pl\00002b    { padding-left:      var(--inuit-base-spacing-unit--large) !important; }
 .u-ph\00002b    { padding-right:     var(--inuit-base-spacing-unit--large) !important; padding-left:   var(--inuit-base-spacing-unit--large) !important; }
 .u-pv\00002b    { padding-top:       var(--inuit-base-spacing-unit--large) !important; padding-bottom: var(--inuit-base-spacing-unit--large) !important; }

 /**
  * Add huge paddings.
  */

 .u-p\00002b\00002b   { padding:           var(--inuit-base-spacing-unit--huge) !important; }
 .u-pt\00002b\00002b  { padding-top:       var(--inuit-base-spacing-unit--huge) !important; }
 .u-pr\00002b\00002b  { padding-right:     var(--inuit-base-spacing-unit--huge) !important; }
 .u-pb\00002b\00002b  { padding-bottom:    var(--inuit-base-spacing-unit--huge) !important; }
 .u-pl\00002b\00002b  { padding-left:      var(--inuit-base-spacing-unit--huge) !important; }
 .u-ph\00002b\00002b  { padding-right:     var(--inuit-base-spacing-unit--huge) !important; padding-left:    var(--inuit-base-spacing-unit--huge) !important; }
 .u-pv\00002b\00002b  { padding-top:       var(--inuit-base-spacing-unit--huge) !important; padding-bottom:  var(--inuit-base-spacing-unit--huge) !important; }

 /**
  * Remove paddings.
  */

 .u-p0      { padding:          0 !important; }
 .u-pt0     { padding-top:      0 !important; }
 .u-pr0     { padding-right:    0 !important; }
 .u-pb0     { padding-bottom:   0 !important; }
 .u-pl0     { padding-left:     0 !important; }
 .u-ph0     { padding-right:    0 !important; padding-left:     0 !important; }
 .u-pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

 /**
  * Switch left and right paddings when right-to-left language settings in use.
  */

 [dir=rtl] {
   .u-pr                  { padding-right: 0 !important;
                                                     padding-left: var(--inuit-base-spacing-unit) !important; }
   .u-pl                  { padding-right: var(--inuit-base-spacing-unit) !important;
                                                     padding-left: 0 !important; }
   .u-pr-                 { padding-right: 0 !important;
                                                     padding-left: var(--inuit-base-spacing-unit--small) !important; }
   .u-pl-                 { padding-right: var(--inuit-base-spacing-unit--small) !important;
                                                     padding-left: 0 !important; }
   .u-pr--                { padding-right: 0 !important;
                                                     padding-left: var(--inuit-base-spacing-unit--tiny) !important; }
   .u-pl--                { padding-right: var(--inuit-base-spacing-unit--tiny) !important;
                                                     padding-left: 0 !important; }
   .u-pr\00002b           { padding-right: 0 !important;
                                                     padding-left: var(--inuit-base-spacing-unit--large) !important; }
   .u-pl\00002b           { padding-right: var(--inuit-base-spacing-unit--large) !important;
                                                     padding-left: 0 !important; }
   .u-pr\00002b\00002b    { padding-right: 0 !important;
                                                     padding-left: var(--inuit-base-spacing-unit--huge) !important; }
   .u-pl\00002b\00002b    { padding-right: var(--inuit-base-spacing-unit--huge) !important;
                                                     padding-left: 0 !important; }
 }


 :root {
   /**
    * Margin helper classes.
    *
    * Add margins.
    */

   --u-m: { margin:           var(--inuit-base-spacing-unit) !important; };
   --u-mt: { margin-top:       var(--inuit-base-spacing-unit) !important; };
   --u-mr: { margin-right:     var(--inuit-base-spacing-unit) !important; };
   --u-mb: { margin-bottom:    var(--inuit-base-spacing-unit) !important; };
   --u-ml: { margin-left:      var(--inuit-base-spacing-unit) !important; };
   --u-mh: { margin-right:     var(--inuit-base-spacing-unit) !important; margin-left:      var(--inuit-base-spacing-unit) !important; };
   --u-mv: { margin-top:       var(--inuit-base-spacing-unit) !important; margin-bottom:    var(--inuit-base-spacing-unit) !important; };

   /**
    * Add tiny margins.
    */

   --u-m--: { margin:           var(--inuit-base-spacing-unit--tiny) !important; };
   --u-mt--: { margin-top:       var(--inuit-base-spacing-unit--tiny) !important; };
   --u-mr--: { margin-right:     var(--inuit-base-spacing-unit--tiny) !important; };
   --u-mb--: { margin-bottom:    var(--inuit-base-spacing-unit--tiny) !important; };
   --u-ml--: { margin-left:      var(--inuit-base-spacing-unit--tiny) !important; };
   --u-mh--: { margin-right:     var(--inuit-base-spacing-unit--tiny) !important; margin-left:     var(--inuit-base-spacing-unit--tiny) !important; };
   --u-mv--: { margin-top:       var(--inuit-base-spacing-unit--tiny) !important; margin-bottom:   var(--inuit-base-spacing-unit--tiny) !important; };

   /**
    * Add small margins.
    */

   --u-m-: { margin:           var(--inuit-base-spacing-unit--small) !important; };
   --u-mt-: { margin-top:       var(--inuit-base-spacing-unit--small) !important; };
   --u-mr-: { margin-right:     var(--inuit-base-spacing-unit--small) !important; };
   --u-mb-: { margin-bottom:    var(--inuit-base-spacing-unit--small) !important; };
   --u-ml-: { margin-left:      var(--inuit-base-spacing-unit--small) !important; };
   --u-mh-: { margin-right:     var(--inuit-base-spacing-unit--small) !important; margin-left:   var(--inuit-base-spacing-unit--small) !important; };
   --u-mv-: { margin-top:       var(--inuit-base-spacing-unit--small) !important; margin-bottom: var(--inuit-base-spacing-unit--small) !important; };

   /**
    * Add large margins.
    */

   --u-m\00002b: { margin:           var(--inuit-base-spacing-unit--large) !important; };
   --u-mt\00002b: { margin-top:       var(--inuit-base-spacing-unit--large) !important; };
   --u-mr\00002b: { margin-right:     var(--inuit-base-spacing-unit--large) !important; };
   --u-mb\00002b: { margin-bottom:    var(--inuit-base-spacing-unit--large) !important; };
   --u-ml\00002b: { margin-left:      var(--inuit-base-spacing-unit--large) !important; };
   --u-mh\00002b: { margin-right:     var(--inuit-base-spacing-unit--large) !important; margin-left:      var(--inuit-base-spacing-unit--large) !important; };
   --u-mv\00002b: { margin-top:       var(--inuit-base-spacing-unit--large) !important; margin-bottom:    var(--inuit-base-spacing-unit--large) !important; };

   /**
    * Add huge margins.
    */

   --u-m\00002b\00002b: { margin:           var(--inuit-base-spacing-unit--huge) !important; };
   --u-mt\00002b\00002b: { margin-top:       var(--inuit-base-spacing-unit--huge) !important; };
   --u-mr\00002b\00002b: { margin-right:     var(--inuit-base-spacing-unit--huge) !important; };
   --u-mb\00002b\00002b: { margin-bottom:    var(--inuit-base-spacing-unit--huge) !important; };
   --u-ml\00002b\00002b: { margin-left:      var(--inuit-base-spacing-unit--huge) !important; };
   --u-mh\00002b\00002b: { margin-right:     var(--inuit-base-spacing-unit--huge) !important; margin-left:   var(--inuit-base-spacing-unit--huge) !important; };
   --u-mv\00002b\00002b: { margin-top:       var(--inuit-base-spacing-unit--huge) !important; margin-bottom: var(--inuit-base-spacing-unit--huge) !important; };

   /**
    * Remove margins.
    */

   --u-m0: { margin:           0 !important; };
   --u-mt0: { margin-top:       0 !important; };
   --u-mr0: { margin-right:     0 !important; };
   --u-mb0: { margin-bottom:    0 !important; };
   --u-ml0: { margin-left:      0 !important; };
   --u-mh0: { margin-right:     0 !important; margin-left:      0 !important; };
   --u-mv0: { margin-top:       0 !important; margin-bottom:    0 !important; };


   /**
    * Negative margins.
    */

   --u--m: { margin:           -var(--inuit-base-spacing-unit) !important; };
   --u--mt: { margin-top:       -var(--inuit-base-spacing-unit) !important; };
   --u--mr: { margin-right:     -var(--inuit-base-spacing-unit) !important; };
   --u--mb: { margin-bottom:    -var(--inuit-base-spacing-unit) !important; };
   --u--ml: { margin-left:      -var(--inuit-base-spacing-unit) !important; };
   --u--mh: { margin-right:     -var(--inuit-base-spacing-unit) !important; margin-left:      -var(--inuit-base-spacing-unit) !important; };
   --u--mv: { margin-top:       -var(--inuit-base-spacing-unit) !important; margin-bottom:    -var(--inuit-base-spacing-unit) !important; };

   /**
    * Tiny negative margins.
    */

   --u--m--: { margin:           -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--mt--: { margin-top:       -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--mr--: { margin-right:     -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--mb--: { margin-bottom:    -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--ml--: { margin-left:      -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--mh--: { margin-right:     -var(--inuit-base-spacing-unit--tiny) !important; margin-left:     -var(--inuit-base-spacing-unit--tiny) !important; };
   --u--mv--: { margin-top:       -var(--inuit-base-spacing-unit--tiny) !important; margin-bottom:   -var(--inuit-base-spacing-unit--tiny) !important; };

   /**
    * Small negative margins.
    */

   --u--m-: { margin:           -var(--inuit-base-spacing-unit--small) !important; };
   --u--mt-: { margin-top:       -var(--inuit-base-spacing-unit--small) !important; };
   --u--mr-: { margin-right:     -var(--inuit-base-spacing-unit--small) !important; };
   --u--mb-: { margin-bottom:    -var(--inuit-base-spacing-unit--small) !important; };
   --u--ml-: { margin-left:      -var(--inuit-base-spacing-unit--small) !important; };
   --u--mh-: { margin-right:     -var(--inuit-base-spacing-unit--small) !important; margin-left:   -var(--inuit-base-spacing-unit--small) !important; };
   --u--mv-: { margin-top:       -var(--inuit-base-spacing-unit--small) !important; margin-bottom: -var(--inuit-base-spacing-unit--small) !important; };

   /**
    * Large negative margins.
    */

   --u--m\00002b: { margin:           -var(--inuit-base-spacing-unit--large) !important; };
   --u--mt\00002b: { margin-top:       -var(--inuit-base-spacing-unit--large) !important; };
   --u--mr\00002b: { margin-right:     -var(--inuit-base-spacing-unit--large) !important; };
   --u--mb\00002b: { margin-bottom:    -var(--inuit-base-spacing-unit--large) !important; };
   --u--ml\00002b: { margin-left:      -var(--inuit-base-spacing-unit--large) !important; };
   --u--mh\00002b: { margin-right:     -var(--inuit-base-spacing-unit--large) !important; margin-left:      -var(--inuit-base-spacing-unit--large) !important; };
   --u--mv\00002b: { margin-top:       -var(--inuit-base-spacing-unit--large) !important; margin-bottom:    -var(--inuit-base-spacing-unit--large) !important; };

   /**
    * Huge negative margins.
    */

   --u--m\00002b\00002b: { margin:           -var(--inuit-base-spacing-unit--huge) !important; };
   --u--mt\00002b\00002b: { margin-top:       -var(--inuit-base-spacing-unit--huge) !important; };
   --u--mr\00002b\00002b: { margin-right:     -var(--inuit-base-spacing-unit--huge) !important; };
   --u--mb\00002b\00002b: { margin-bottom:    -var(--inuit-base-spacing-unit--huge) !important; };
   --u--ml\00002b\00002b: { margin-left:      -var(--inuit-base-spacing-unit--huge) !important; };
   --u--mh\00002b\00002b: { margin-right:     -var(--inuit-base-spacing-unit--huge) !important; margin-left:   -var(--inuit-base-spacing-unit--huge) !important; };
   --u--mv\00002b\00002b: { margin-top:       -var(--inuit-base-spacing-unit--huge) !important; margin-bottom: -var(--inuit-base-spacing-unit--huge) !important; };

   /**
    * Padding helper classes.
    *
    * Add paddings.
    */

   --u-p: { padding:          var(--inuit-base-spacing-unit) !important; };
   --u-pt: { padding-top:      var(--inuit-base-spacing-unit) !important; };
   --u-pr: { padding-right:    var(--inuit-base-spacing-unit) !important; };
   --u-pb: { padding-bottom:   var(--inuit-base-spacing-unit) !important; };
   --u-pl: { padding-left:     var(--inuit-base-spacing-unit) !important; };
   --u-ph: { padding-right:    var(--inuit-base-spacing-unit) !important; padding-left:    var(--inuit-base-spacing-unit) !important; };
   --u-pv: { padding-top:      var(--inuit-base-spacing-unit) !important; padding-bottom:  var(--inuit-base-spacing-unit) !important; };

   /**
    * Add tiny paddings.
    */

   --u-p--: { padding:           var(--inuit-base-spacing-unit--tiny) !important; };
   --u-pt--: { padding-top:       var(--inuit-base-spacing-unit--tiny) !important; };
   --u-pr--: { padding-right:     var(--inuit-base-spacing-unit--tiny) !important; };
   --u-pb--: { padding-bottom:    var(--inuit-base-spacing-unit--tiny) !important; };
   --u-pl--: { padding-left:      var(--inuit-base-spacing-unit--tiny) !important; };
   --u-ph--: { padding-right:     var(--inuit-base-spacing-unit--tiny) !important; padding-left:      var(--inuit-base-spacing-unit--tiny) !important; };
   --u-pv--: { padding-top:       var(--inuit-base-spacing-unit--tiny) !important; padding-bottom:    var(--inuit-base-spacing-unit--tiny) !important; };

   /**
    * Add small paddings.
    */

   --u-p-: { padding:           var(--inuit-base-spacing-unit--small) !important; };
   --u-pt-: { padding-top:       var(--inuit-base-spacing-unit--small) !important; };
   --u-pr-: { padding-right:     var(--inuit-base-spacing-unit--small) !important; };
   --u-pb-: { padding-bottom:    var(--inuit-base-spacing-unit--small) !important; };
   --u-pl-: { padding-left:      var(--inuit-base-spacing-unit--small) !important; };
   --u-ph-: { padding-right:     var(--inuit-base-spacing-unit--small) !important; padding-left:    var(--inuit-base-spacing-unit--small) !important; };
   --u-pv-: { padding-top:       var(--inuit-base-spacing-unit--small) !important; padding-bottom:  var(--inuit-base-spacing-unit--small) !important; };

   /**
    * Add large paddings.
    */

   --u-p\00002b: { padding:           var(--inuit-base-spacing-unit--large) !important; };
   --u-pt\00002b: { padding-top:       var(--inuit-base-spacing-unit--large) !important; };
   --u-pr\00002b: { padding-right:     var(--inuit-base-spacing-unit--large) !important; };
   --u-pb\00002b: { padding-bottom:    var(--inuit-base-spacing-unit--large) !important; };
   --u-pl\00002b: { padding-left:      var(--inuit-base-spacing-unit--large) !important; };
   --u-ph\00002b: { padding-right:     var(--inuit-base-spacing-unit--large) !important; padding-left:   var(--inuit-base-spacing-unit--large) !important; };
   --u-pv\00002b: { padding-top:       var(--inuit-base-spacing-unit--large) !important; padding-bottom: var(--inuit-base-spacing-unit--large) !important; };

   /**
    * Add huge paddings.
    */

   --u-p\00002b\00002b: { padding:           var(--inuit-base-spacing-unit--huge) !important; };
   --u-pt\00002b\00002b: { padding-top:       var(--inuit-base-spacing-unit--huge) !important; };
   --u-pr\00002b\00002b: { padding-right:     var(--inuit-base-spacing-unit--huge) !important; };
   --u-pb\00002b\00002b: { padding-bottom:    var(--inuit-base-spacing-unit--huge) !important; };
   --u-pl\00002b\00002b: { padding-left:      var(--inuit-base-spacing-unit--huge) !important; };
   --u-ph\00002b\00002b: { padding-right:     var(--inuit-base-spacing-unit--huge) !important; padding-left:    var(--inuit-base-spacing-unit--huge) !important; };
   --u-pv\00002b\00002b: { padding-top:       var(--inuit-base-spacing-unit--huge) !important; padding-bottom:  var(--inuit-base-spacing-unit--huge) !important; };

   /**
    * Remove paddings.
    */

   --u-p0: { padding:          0 !important; };
   --u-pt0: { padding-top:      0 !important; };
   --u-pr0: { padding-right:    0 !important; };
   --u-pb0: { padding-bottom:   0 !important; };
   --u-pl0: { padding-left:     0 !important; };
   --u-ph0: { padding-right:    0 !important; padding-left:     0 !important; };
   --u-pv0: { padding-top:      0 !important; padding-bottom:   0 !important; };
 }
